/* Global */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #473720;
}

.navigation {
  padding: 20px;
  background-color: #473720;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navigation .logo {
  display: flex;
  align-items: center;
}

.navigation .icon {
  height: 18px;
  margin-right: 5px;
}

.navigation a {
  color: #ffffff;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.button {
  background-color: #473720;
  padding: 10px 15px;
  border-radius: 5px;
  color: #ffffff;
  margin: 0 10px;
}

/* Mobile */
@media (min-width: 0px) {
  .navigation-menu {
    display: none;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .navigation-menu {
    display: flex;
  }
}

.navigation-menu a {
  margin-left: 10px;
}

.search-bar {
  margin-left: 10px;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

/* Home */
@media (min-width: 0px) {
  .intro {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 30px;
  }
}

@media (min-width: 1024px) {
  .intro {
    flex-direction: row;
    width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
    justify-content: space-between;
  }
}

@media (min-width: 0px) {
  .intro blockquote {
    font-size: 21px;
    margin: 0;
    font-family: serif;
    padding: 10px;
    max-width: 460px;
  }
}

@media (min-width: 1024px) {
  .intro blockquote {
    font-size: 42px;
  }
}

.intro blockquote p {
  margin-bottom: 10px;
}

.intro blockquote p:before {
  content: open-quote;
}

.intro blockquote p:after {
  content: close-quote;
}

@media (min-width: 0px) {
  .intro blockquote p:before,
  .intro blockquote p:after {
    display: inline-block;
    vertical-align: bottom;
    color: rgb(66, 66, 65);
    font-size: 50px;
    position: relative;
    line-height: 20px;
  }
}

@media (min-width: 1024px) {
  .intro blockquote p:before,
  .intro blockquote p:after {
    font-size: 100px;
  }
}

@media (min-width: 0px) {
  .intro blockquote footer {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .intro blockquote footer {
    font-size: 30px;
  }
}

@media (min-width: 0px) {
  .intro img {
    height: 200px;
    border: 2px solid grey;
    border-radius: 10px;
  }
}

@media (min-width: 1024px) {
  .intro img {
    height: 300px;
  }
}

.roles {
  margin-top: 50px;
}

.roles h1 {
  text-transform: uppercase;
}

.section-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
  align-items: center;
}

@media (min-width: 0px) {
  .separator {
    width: 100px;
    height: 5px;
    background: #473720;
    border-radius: 10px;
  }
}

@media (min-width: 1024px) {
  .separator {
    width: 200px;
    height: 8px;
    background: #473720;
    border-radius: 10px;
  }
}

@media (min-width: 0px) {
  .section-heading h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px;
  }
}

@media (min-width: 1024px) {
  .section-heading h1 {
    font-size: 40px;
  }
}

@media (min-width: 0px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .cards {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.card {
  width: 300px;
  text-align: center;
  margin-bottom: 40px;
  background: #eeeeee;
}

.card img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

/* About */
@media (min-width: 0px) {
  .intro-about {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .intro-about {
    flex-direction: row;
  }
}

@media (min-width: 0px) {
  .intro-about .photo img {
    width: 320px;
    height: 400px;
    object-fit: cover;
  }
}

@media (min-width: 1024px) {
  .intro-about .photo img {
    width: 500px;
    height: 800px;
  }
}

@media (min-width: 0px) {
  .intro-about .biography {
    padding: 0 10px;
  }
}

@media (min-width: 1024px) {
  .intro-about .biography {
    padding: 0 80px;
  }
}

@media (min-width: 0px) {
  .intro-about .biography h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
  }
}

@media (min-width: 1024px) {
  .intro-about .biography h1 {
    font-size: 62px;
  }
}

@media (min-width: 0px) {
  .intro-about .biography p {
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .intro-about .biography p {
    width: 100%;
    font-size: 24px;
    line-height: 36px;
  }
}

.intro-more {
  display: flex;
  justify-content: center;
}

@media (min-width: 0px) {
  .intro-more .biography-more {
    width: 100%;
    padding: 0 10px;
  }
}

@media (min-width: 1024px) {
  .intro-more .biography-more {
    width: 700px;
  }
}

@media (min-width: 0px) {
  .intro-more .biography-more p {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .intro-more .biography-more p {
    font-size: 24px;
    line-height: 36px;
  }
}

/* Contact */
.intro-contact {
  display: flex;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.contact header {
  font-size: 64px;
}

.contact-form {
  width: 500px;
}

.contact-form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-form .field label {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-form .field input {
  font-size: 24px;
  height: 40px;
  padding: 0 10px;
}

.contact-form input,
.contact-form textarea {
  border-radius: 5px;
  border: solid 2px #473720;
}

.submit.button.primary {
  width: 100%;
  font-size: 24px;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.primary {
  background-color: #473720;
  color: #ffffff;
}

.primary:hover {
  background-color: #111111;
}
