body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.navigation {
  padding: 30px;
  background-color: #a0734d;
  display: flex;
  justify-content: space-between;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
}

.navigation-menu a {
  margin-left: 10px;
}

.search-bar {
  margin-left: 10px;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

.intro {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
}

.intro blockquote {
  font-size: 42px;
  margin: 0;
  margin-right: 90px;
  font-family: serif;
}

.intro blockquote:before {
  content: open-quote;
}

.intro blockquote:after {
  content: close-quote;
}

.intro blockquote:before,
.intro blockquote:after {
  display: inline-block;
  vertical-align: bottom;
  color: rgb(66, 66, 65);
  font-size: 100px;
  position: relative;
  line-height: 20px;
}

.intro img {
  width: 250px;
  height: 100%;
  border: 2px solid grey;
  border-radius: 10px;
}

.roles {
  padding: 50px;
  margin: 50px 0;
}

.roles h1 {
  text-transform: uppercase;
}

.section-heading {
  display: flex;
  justify-content: center;
}

.section-heading h1 {
  font-size: 40px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 300px;
  text-align: center;
}

.card img {
  height: 200px;
}